<app-header></app-header>

<main>
  <section>
    <router-outlet></router-outlet>
    <!-- <app-carousel></app-carousel> -->
  </section>
  <!-- <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-md">
              <app-teams></app-teams>
            </div>
            <div class="col-md-4">
              <app-tables-condensed></app-tables-condensed>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>

<app-footer></app-footer>
