<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Played</th>
        <th scope="col">Won</th>
        <th scope="col">Drawn</th>
        <th scope="col">Lost</th>
        <th scope="col">For</th>
        <th scope="col">Against</th>
        <th scope="col">GD</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of standingsData">
        <th scope="row" >{{ standing.overall_league_position }}</th>
        <td>{{ standing.team_name }}</td>
        <td>{{ standing.overall_league_payed }}</td>
        <td>{{ standing.overall_league_W }}</td>
        <td>{{ standing.overall_league_D }}</td>
        <td>{{ standing.overall_league_L }}</td>
        <td>{{ standing.overall_league_GF }}</td>
        <td>{{ standing.overall_league_GA }}</td>
        <td>{{ standing.overall_league_GF - standing.overall_league_GA }}</td>
        <td>{{ standing.overall_league_PTS }}</td>
      </tr>
    </tbody>
  </table>
</div>
