// brand colours

$primary-color: #297532;
$secondary-color: #96B99A;
$tertiary-color: #53935B;
$quaternary-color: #064D0F;
$quinary-color: #003206;
// $senary-color: ;
// $septenary-color: ;
// $octonary-color: ;
// $nonary-color: ;
// $denary-color: ;